# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Archivos txt, usados para entrada y salida
*.txt

# archivos de salida de test
*.actual_out
*.check

# Ignorar archivos llamados "tester" en tests/ y sus subcarpetas
/tests/**/tester

# No ignorar archivos .out en tests/ y subcarpetas
!tests/**/*.out
!tests/*.out